/*====================================
	Preloader CSS
======================================*/
.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.preloader-spinner {
    -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
    animation: 1s ease-out 0s normal none infinite running pulsate;
    border: 10px solid #F3A712;
    border-radius: 40px;
    display: block;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 10;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

/*====================================
	Pagination CSS
======================================*/
.pagination-main {
	text-align: left;
	margin: 40px 0 0 0;
	display: block;
}
.pagination-main.full-width {
	text-align: center;
}
.pagination-main.full-width{
	text-align: left;
}
.pagination-main .pagination-list li {
	margin-right:5px;
	display: inline-block;
}
.pagination-main .pagination-list li:last-child{
	margin-right:0px;
}
.pagination-main .pagination-list li a {
	font-size: 20px;
	background: #fff;
	color: #179E66;
	height: 45px;
	width: 50px;
	line-height: 45px;
	display: block;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	border-radius: 0px;
}
.pagination-main .pagination-list li.active a,
.pagination-main .pagination-list li:hover a{
	background: #179E66;
	color: #fff;
}
.pagination-main .pagination-list li.prev a,
.pagination-main .pagination-list li.next a{
	border: none;
	font-weight: 600;
	margin-left: 10px;
	background: transparent !important;
	width: auto;
	height: auto;
	color: #333;
}
.pagination-main .pagination-list li.next:hover a{
	color:#179E66;
}

/* Pagiantion */
.page-links{
	margin-top:10px;
}
.page-links a, .page-links span {
    border: 1px solid #ebebeb;
    padding: 5px 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    width: auto;
}
.page-links span.current,.page-links a:hover {
    background: #F3A712;
    color: #fff;
}
.blog-single ul li {
    line-height: 30px;
    padding-left: 20px;
    position:relative;
}
.blog-single ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    background: #F3A712;
    border-radius: 100%;
    margin-top: -4px;
}
p.has-large-font-size {
    line-height: 43px;
}
/*====================================
	End Pagination CSS
======================================*/
/*======================================
	Theme Others CSS
========================================*/
.small-list-feature h3 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 10px;
}
.small-list-feature ul {
    margin-top: 20px;
}
.small-list-feature ul li {
    line-height: 35px;
}
.small-list-feature ul li i {
    color: #f3a712;
    margin-right: 10px;
    border: 1px solid;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.small-list-feature ul li:hover i{
	border-radius:100%;
	background:#f3a712;
	color:#fff;
	border-color:transparent;
}
/* Portfolio Pagination */
.pagination-plugin {
    margin-top: 35px;
    text-align: left;
}
.pagination-plugin li{
	display:inline-block;
}
.pagination-plugin span, 
.pagination-plugin a, 
.pagination-plugin a:focus {
	background: #2E2751;
	width: 44px;
	height: 40px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	position: relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: inline-block;
}
.pagination-plugin li.current a,
.pagination-plugin li:hover a {
	background: #179e66;
	color: #fff;
	-webkit-box-shadow: 0px 10px 15px rgba(88, 85, 85, 0.15);
	-moz-box-shadow: 0px 10px 15px rgba(88, 85, 85, 0.15);
	box-shadow: 0px 10px 15px rgba(88, 85, 85, 0.15);
}
.pagination-plugin li.prev a,
 .pagination-plugin li.next a {
	box-shadow: none;
	color: #fff;
	width: auto;
	padding: 0 20px;
}
/* Mail Success CSS */
.success .mail{
}
.success .mail h2 {
	font-size: 30px;
	margin-bottom: 10px;
}
.success .mail h2 span {
	color: #F3A712;
}
.success .mail .bizwheel-btn {
	margin-top: 20px;
}
.success .mail .bizwheel-btn i{
	margin-right:10px;
}
/*=======================
  End Mail Success CSS
=========================*/
.bg-success {
    background-color: #000000!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
}
.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #FFF;
}
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 10000;
}
.text-center{
    text-align: center;
}
.mt-10 {
    margin-top: 10px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-100 {
    margin-bottom: 100px;
}